@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>This project is to set up a search engine through which users can enter a keyword and the website will gather the sentiments of the people related to the keyword.</p>
