@model SentimentAnalysis.Models.SearchScores

@{
    ViewBag.Title = "Sentiment";
}

<h2>Sentiment Bar Graph</h2>
@*@{ var myChart = ViewData["myChart"]}*@
<div>
    <img src="@Url.Action("CreateChart")" alt="Sentiment Chart"/>
</div>

@{
    
}